{% extends "base.html" %}

{% block content %}
<h1>Заголовок</h1><br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <h3>введите код, который вам выслали по почте</h3><br>
    <p>
        {{ form.check.label }}<br>
        {{ form.check(class="form-control") }}<br>
        {% for error in form.check.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}