
{% extends "base.html" %}

{% block content %}
{% if current_user.status == "A" %}
<link rel="stylesheet" type="text/css" href="/static/css/style_log_reg.css">
<link rel="stylesheet" type="text/css" href="/static/css/style_user_info.css">
<style>
.container { width: auto; height: auto; }
</style>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% for guy in users%}
            <p>{{guy.id}} - {{guy.name}} | {{guy.email}} | {{guy.status}} | {{guy.contacts}} | {{guy.is_activate}}
                | {{guy.uuid}} | {{guy.created_data}}
        {% endfor %}
        <p>
            {{ form.id.label }}
            {{ form.id(class="form-control", placeholder="ID наказуемого") }}
            {% for error in form.id.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        {{ form.id(type="image", src="\static\img\GG_50_KILL.jpg") }}
        {% if message %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endif %}
    </form>
{% endif %}
{% endblock %}