{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style_error.css">
<style>.container {width: 1500px;}</style>
<h1 style="margin-bottom: .9rem; margin-top: .9rem;">КОГДА ЗАБАНИЛИ НА GAMEPYED</h1>
<iframe width="1000" height="563"
        src="https://www.youtube-nocookie.com/embed/-ZiSAwZekF8?controls=0?amp&autoplay=1"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>

<div class="rainbow-animated"><h1
        style="margin-bottom: .9rem; margin-top: .9rem; font-size: 40px;">BANNED FAQ</h1></div>
<h1 style="margin-bottom: .9rem; margin-top: .9rem;">Что это означает?</h1>
<h4 style="color: #fbef00;">Это означает, что Ваш аккаунт заблокирован из-за нарушений
    правил сайта или по решению администрации.</h4>
<h1 style="margin-bottom: .9rem; margin-top: .9rem;">По какой причине я был забанен?</h1>
<h4 style="color: #fbef00;">Чтобы узнать причину блокировки, напишите письмо на
    наш электронный адрес <a href="mailto:info.gamepyed@gmail.com">
        info.gamepyed@gmail.com</a>.</h4>
<h1 style="margin-bottom: .9rem; margin-top: .9rem;">Что мне теперь делать?</h1>
<h4 style="color: #fbef00;">Вы можете попробовать узнать причину бана и написать апелляционное
    письмо на наш электронный адрес <a href="mailto:info.gamepyed@gmail.com">
        info.gamepyed@gmail.com</a>, либо <a href="/register">создать новый аккаунт</a>.</h4>
<h1 style="margin-bottom: .9rem; margin-top: .9rem;">На моём аккаунте был куплен статус
    «ПРЕМИУМ». Вы вернёте мне статус или возвратите средства за его покупку?</h1>
<h4 style="color: #fbef00;">Если Вы подадите апелляцию, и администрация примет её за смягчающее
    обстоятельство, на Вашем новом аккаунте будет установлен статус «ПРЕМИУМ».
    В противном случае статус возмещён не будет.</h4>
{% endblock %}
<!--1120x630-->
<!--1000x563-->