{% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style_error.css">
<img src="/static/img/oops.png" width="352" height="255" alt="" style="border-size:50px">

{% if err == 400 %}
<h1>BAD REQUEST</h1>
<p>Извините, мы не смогли обработать Ваш запрос.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a>.</p>
{% elif err == 401 %}
<h1>UNAUTHORIZED</h1>
<p>Извините, на эту страницу нельзя зайти без авторизации.
    Пожалуйста, <a href="/login">авторизируйтесь</a>.</p>
{% elif err == 403 %}
<h1>FORBIDDEN</h1>
<p>Извините, на доступ на эту страницу запрещён.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a>.</p>
{% elif err == 404 %}
<h1>К СОЖАЛЕНИЮ, ЗАПРОШЕННАЯ ВАМИ СТРАНИЦА НЕ НАЙДЕНА</h1>
<p>Извините, мы не нашли у себя такой страницы. Возможно, она была удалена или вообще не существовала.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a>.</p>
{% elif err == 405 %}
<h1>METHOD NOT ALLOWED</h1>
<p>Извините, запрашиваемый метод был деактивирован и не может быть использован.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a>.</p>
{% elif err == 500 %}
<h1>ВНУТРЕНЯЯ ОШИБКА СЕРВЕРА</h1>
<p>Извините, мы не решили как поступить при обработке Вашего запроса.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a>.</p>
{% elif err == 502 %}
<h1>NOT IMPLEMENTED</h1>
<p>Извините, метод Вашего запроса не поддерживается сервером и не может быть обработан.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a>.</p>
{% elif err == 503 %}
<h1>SERVICE UNAVAILABLE</h1>
<p>Извините, сервер не готов обработать Ваш запрос, отключён перегружен.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a> или попробуйте подключиться позже.</p>
{% elif err == 504 %}
<h1>GATEWAY TIMEOUT</h1>
<p>Извините, время получения ответа истекло.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a> или попробуйте ещё раз.</p>
{% elif err == 505 %}
<h1>HTTP VERSION NOT SUPPORTED</h1>
<p>Извините, HTTP-версия, используемая в запросе, не поддерживается сервером.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a> или попробуйте ещё раз.</p>
{% else %}
<h1>ERROR</h1>
<p>Извините, произошла непридвиденная ошибка.
    Пожалуйста, вернитесь на <a href="/">главную страницу</a>, попробуйте ещё раз или
    напишите нам на почту @info.gamepyed@gmail.com.</p>
{% endif %}

{% endblock %}