{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style_log_reg.css">
<link rel="stylesheet" type="text/css" href="/static/css/style_user_info.css">
<style>
    .container {
height: auto;
width: 900px;}

</style>
<h1 style="color: #fbef00; margin: 30px;">Часто задаваемые вопросы</h1>
<h3 style="color: #fbef00; text-align: left; margin-top: 10px;">1.Почему объявление не видно в поиске по категории?</h3>
<p style="color: #fff; text-align: left; margin-left: 50px;">Вы смотрите не в той категории. Объявление показывается в
    поиске по категории, в которой оно размещено, по всей Тюмени. В поиске по другой категории объявление не будет
    видно. Пожалуйста, проверьте этот параметр.</p>

<h3 style="color: #ffd700; text-align: left; margin-top: 10px;">2.Премиум <img style="width: 25px;
                                                                                   height: 25px;
                                                                                   margin: 0;
                                                                                   border: 0;
                                                                                   border-radius: 0;"
                                                                               src="//cybershoke.net/storage/images/svg/vip.svg">
</h3>
<h5 style="color: #fbef00; text-align: left; margin-left: 50px;">Что такое премиум?</h5>
<p style="color: #fff; text-align: left; margin-left: 100px;">Это платная услуга для продвижения ваших объявлений.</p>
<h5 style="color: #fbef00; text-align: left; margin-left: 50px;">Что даёт премиум?</h5>
<p style="color: #fff; text-align: left; margin-left: 100px;">1. Ваши объявления показывается в первых строчках поиска
    перед объявлениями обычных пользователей.</p>
<p style="color: #fff; text-align: left; margin-left: 100px;">2. Неограниченное количество объявлений.</p>
<p style="color: #fff; text-align: left; margin-left: 100px;">3. Изменение вашего статуса в профиле и в объявлениях.</p>
<h5 style="color: #fbef00; text-align: left; margin-left: 50px;">Как мне получить премиум?</h5>
<p style="color: #fff; text-align: left; margin-left: 100px;">Напишите нашим Администраторам или нам на почту (все
    контакты указаны снизу).</p>
<h5 style="color: #fbef00; text-align: left; margin-left: 50px;">Сколько стоит премиум?</h5>
<p style="color: #fff; text-align: left; margin-left: 100px;">299₽ = Навсегда</p>
<h3 style="color: #fbef00; text-align: left; margin-top: 10px;">3. Как мне связаться с продавцом/покупателем?</h3>
<p style="color: #fff; text-align: left; margin-bottom: 20px;">Чтобы связаться с продавцом/покупателем, нужно посмотреть
    его контакты в его профиле.</p>

<h4 style="color: #fbef00;">Не нашёл ответ на свой вопрос?</h4>
<h4 style="color: #fbef00;">Задай его нашим Администраторам: <a href="https://vk.com/kbukhalov">kirya1243</a>, <a
        href="https://vk.com/greensmod">GreenSMod</a>,
    <a href="https://vk.com/id179777853">next</a></h4>
<h4 style="color: #fbef00;">или отправь свой вопрос на нашу почту: <a href="mailto:info.gamepyed@gmail.com">info.gamepyed@gmail.com</a>
</h4>
{% endblock %}