{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style_log_reg.css">
<link rel="stylesheet" type="text/css" href="/static/css/style_reg.css">
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <div align="center" style="background-image: url(/static/img/user_reg.png);
              width: 150px;
              height: 150px;
              border: 3px solid #fbef00;
              border-radius: 50%;
              margin: 0px auto 0px auto;">
        {{ form.img(class="custom-file-input", title="Аватар может иметь расширение png, jpg или jpeg.
        Рекомендуется выбирать изображение одинаковой ширины и высоты, в котором нет альфа-канала.",
        data_toggle="tooltip", data_placement="bottom") }}
    </div>
    <p>
        {{ form.name.label }}
        {{ form.name(class="form-control", placeholder="ФИО или название организации",
        title="Имя может содержать буквы русского и латинского алфавитов
        (А-я, A–z), цифры (0–9) и пробел. Максимальная длина имени - 44 символа.",
        data_toggle="tooltip", data_placement="top") }}
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.email.label }}
        {{ form.email(class="form-control", type="email", placeholder="Адрес электронной почты")
        }}{{mailmessage}}
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}
        {{ form.password(class="form-control", type="password", id="myInput",
        placeholder="Пароль", title="Пароль может содержать буквы латинского алфавита
        (A–z), цифры (0–9) и специальные символы ( . , : ; ? ! * + % - @ ( ) [ ] { } / _ $ # ).
        Минимальная длина пароля - 8 символов, максимальная - 24 символа. Пароль должен содержать
        хотя бы одну цифру, один специальный символ или буквы разного регистра.",
        data_toggle="tooltip", data_placement="top") }}
        <input type="checkbox" onclick="myFunction()">Показать пароль
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }



        </script>
        {% for error in form.password.errors %}
    </p>
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}
        {{ form.password_again(class="form-control", type="password", placeholder="Подтвердить") }}
        {% for error in form.password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.rules_agree() }} Я согласен с <a href="/rules" target="_blank">Правилами Ресурса</a></p>
    <p>{{ form.submit(type="submit", class="btn btn-danger") }}</p>
    {% if message %}
    <div class="alert alert-danger" role="alert">{{message}}</div>
    {% endif %}


</form>
{% endblock %}