{% extends "base.html" %}

{% block content %}
<h1>Регистрация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <h3>Имя может состоять только из русских и латинских букв любого регистра и цифр</h3>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}{{mailmessage}}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password", id="myInput") }}<br>
        <input type="checkbox" onclick="myFunction()">Показать пороль
        <script>
            function myFunction() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                } else {
                    x.type = "password";
                }
            }
        </script>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    {% if lvl == -1 %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar"
                style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    {% elif lvl == 0 %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"
                style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    {% elif lvl == 1 %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar"
                style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    {% elif lvl == 2 %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar"
                style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    {% elif lvl == 3 %}
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    {% endif %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}