{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style_error.css">
<style>.container {width: 1500px;}</style>
<h1 style="margin-bottom: .9rem; margin-top: .9rem;">ПРАВИЛА РЕСУРСА</h1>
Настоящие Правила определяют условия использования
Пользователями материалов и сервисов сайта gamepyed (далее — «Ресурс»).
<h3 style="margin-bottom: .9rem; margin-top: .9rem;">
    НЕЗНАНИЕ ПРАВИЛ РЕСУРСА НЕ ОСВОБОЖДАЕТ ВАС ОТ ОТВЕТСТВЕННОСТИ.</h3>
<!--<div class="rainbow-animated"><p style="margin-bottom: 2rem; font-size: 16px;">-->
<!--    Незнание Правил Ресурса не освобождает Вас от ответственности.</p></div>-->
<h4>- Если у Вас возникнут дополнительные вопросы, отправьте письмо на наш электронный адрес
    <a href="mailto:info.gamepyed@gmail.com">info.gamepyed@gmail.com</a>.</h4>
<h4>- Администратор Ресурса в праве оценивать ситуацию по своему опыту и основываясь на
    имеющихся Правилах при вынесении решения.</h4>
<h4>- Администратор Ресурса в праве пересмотреть решение или вынести окончательное решение по возникшему
    вопросу.</h4>
<h4>- Обратите внимание, что приведенный ниже список Правил не является исчерпывающим.
    Администрация Ресурса оставляет за собой право удалять контент или ограничивать
    Пользователей по мере необходимости, если это считается вредным для Ресурса
    или для других. Любой контент, который снижает Пользовательский интерес к
    Ресурсу, может и будет удален.</h4>
<h4>- Жалобы на Пользователей направлять на на наш электронный адрес
    <a href="mailto:info.gamepyed@gmail.com">info.gamepyed@gmail.com</a> с
    доказательствами нарушения Правил. Решение будет приниматься на усмотрение
    Администрации Ресурса. Так же, Администрация Ресурса оставляет за собой право, в
    редких случаях оставить Пользователя, руководствуясь интересами Ресурса и здравым смыслом.</h4>
<h1>ЗАПРЕЩЕНО</h1>
<h4>1. Публично обсуждать и игнорировать действия Администрации Ресурса.</h4>
<h4>2. Провоцировать Пользователей Ресурса на оскорбления или выяснения отношений
    (флейм, кормление троллей).</h4>
<h4>3. Распространять приватную информацию о Пользователе, его личности,
    деятельности без его согласия.</h4>
<h4>4. Пытаться получить пароль, информацию об учётной записи или другую личную информацию.</h4>
<h4>5. Заниматься попрошайничеством, вымогательством и мошенничеством в любой форме.</h4>
<h4>6. Размещать ссылки на интернет-ресурсы, прикреплять файлы (ПО - инструменты для взлома,
    изменения файлов игры), содержащие уловки по обходу игровых правил - нарушению правил
    игры, нарушающие любые лицензионные соглашения.</h4>
<h4>7. Выкладывать информационные материалы содержащие угрозы, сцены насилия, вызывающие
    отвращение, или имеющие откровенно непристойный характер. Запрещена ненормативная лексика,
    элементы порнографии, насилия, пропаганды терроризма, неонацизма, алкогольной продукции
    или наркотических средств (в том числе в аватарках и имени).</h4>
<h4>8. Размещать материалы, запрещённые законодательством РФ.</h4>
<h4>9. Возбуждение ненависти либо вражды, что равно унижению человеческого достоинства
    (статья 282 УК РФ).</h4>
<h4>10. Дискриминация по расовому, половому и религиозному признаку.</h4>
<h1>ПРИМЕЧАНИЕ</h1>
<h4># Администрация Ресурса не может нести ответственность за личные сообщения, отправленные Вам
    другими Пользователями. В случае с нарушениями Правил в Ваш адрес в ЛС, рекомендуем
    воспользоваться кнопкой "Заблокировать".</h4>
<h4># Администрация Ресурса не несёт ответственности за материальный и моральный ущерб, нанесенный
    Пользователю Ресурса, в случае открытия любых ссылок на интернет-ресурсы или файлов,
    размещенных другими Пользователями.</h4>
<h4># Администрация Ресурса не несёт ответственности за нарушения авторских и смежных прав при
    размещении Пользователями информации, изображений, аудио-видео материалов.</h4>
<h4># Администрация Ресурса оставляет за собой право удалять или редактировать любые объявления,
    информацию профиля (имя, аватарку) без объяснения причин.</h4>
<h4># Администрация Ресурса оставляет за собой право заблокировать Пользователя, нарушающего Правила
    Ресурса, на неопределенный срок (неделя, месяц, год, навсегда).</h4>
<h4># Администрация Ресурса оставляет за собой право не информировать Пользователя Ресурса о
    удалении или редактировании его объявления, информации профиля.</h4>
<h4># Администрация Ресурса оставляет за собой право изменить данные Правила в любое удобное
    время без информирования Пользователей Ресурса.</h4>
<h4># Администрация Ресурса оставляет за собой право размещать объявления, новости ЛЮБОГО содержания.</h4>
<h4># Администрация Ресурса оставляет за собой право заблокировать Пользователю доступ к Ресурсу
    без объяснения причин.</h4>
<h4># Администрация Ресурса оставляет за собой право применять любые дисциплинарные меры к
    Пользователям, нарушающим Правила сообщества.</h4>
Последние изменения: 10 мая 2020 года.
{% endblock %}
