{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/style_log_reg.css">
<link rel="stylesheet" type="text/css" href="/static/css/style_user_info.css">
{% if current_user.img %}
<img src="/static/img/users/avatar/{{ current_user.id }}.jpg" width="150" height="150">
{% else %}
<img src="/static/img/user.png">
{% endif %}
<h1>{{current_user.name}}</h1>
{% if current_user.status == "N" %}
<p style="color: #fff; font-size: 24px; margin-bottom: 2rem;">ПОЛЬЗОВАТЕЛЬ</p>
{% elif current_user.status == "P" %}
<div class="premiumrainbow"><p style="font-size: 24px; margin-bottom: 2rem;">ПРЕМИУМ</p></div>
{% elif current_user.status == "A" %}
<div class="rainbow-animated"><p style="margin-bottom: 2rem;">АДМИН</p></div>
{% endif %}
<p>С нами с <h4 style="color: #fbef00;">{{current_user.created_date}}</h4></p>
<p>Адрес электронной почты <h4 style="color: #fbef00;">{{current_user.email}}</h4></p>
<!--    {% if current_user.contacts %}-->
<!--    <p>Контакты {{current_user.contacts}}</p>-->
<!--    {% else %}-->
<!--    <p>Контакты<h4 style="color: #fbef00;">...</h4></p>-->
<!--    {% endif %}-->
<p>Контакты</p>
{% if current_user.contacts %}
{% for key in current_user.contacts %}
{% if key == "tl" %}
<h4><i class="fas fa-mobile-alt" style="color: #fff;"></i> {{ current_user.contacts[key] }}</h4>
{% elif key == "vk" %}
<h4><i class="fab fa-vk" style="color: #fff;"></i> {{ current_user.contacts[key] }}</h4>
{% elif key == "tg" %}
<h4><i class="fab fa-telegram-plane" style="color: #fff;"></i> {{ current_user.contacts[key] }}</h4>
{% elif key == "it" %}
<h4><i class="fab fa-instagram" style="color: #fff;"></i> {{ current_user.contacts[key] }}</h4>
{% elif key == "fb" %}
<h4><i class="fab fa-facebook" style="color: #fff;"></i> {{ current_user.contacts[key] }}</h4>
{% elif key == "ok" %}
<h4><i class="fab fa-odnoklassniki" style="color: #fff;"></i> {{ current_user.contacts[key] }}</h4>
{% endif %}
{% endfor %}
{% else %}
<h4>...</h4>
{% endif %}

{% if goods_len > 0 %}
<p>Активных объявлений - {{goods_len}}
</p>
{% else %}
<p>Нет активных объявлений
</p>
{% endif %}

<p>
    <a class="btn btn-primary" href="/edit_user/{{ current_user.id }}">Редактировать информацию</a>
</p>
{% if current_user.status == "A" %}
<a class="btn btn-danger" href="/admin" style="margin-bottom: .9rem;">Memento Mori</a>
{% endif %}

{% endblock %}